<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <insert id="save" parameterType="comment">
        insert into new_comment_table(commentWriterId, commentWriter, commentContents, boardId)
        values (#{commentWriterId}, #{commentWriter}, #{commentContents}, #{boardId})
    </insert>
    <select id="findAll" parameterType="Long" resultType="comment">
        select * from new_comment_table where boardId=#{boardId} order by id
    </select>
</mapper>